Q1. What is a database? Differentiate between SQL and NoSQL databases.

A1. A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS)

SQL and NoSQL are two types of databases that differ in their structure, scalability, language and data types . SQL databases are relational, table-based and use structured query language (SQL) . NoSQL databases are non-relational, document-oriented, key-value pairs, or graph structures and have dynamic schemas for unstructured data .

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

A2. A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database. These database objects include views, schemas, tables, indexes, etc.

->CREATE: This command is used to create a new database object, such as a table. For example, CREATE TABLE students (c1 INT, c2 VARCHAR(50), c3 INT); will create a table named students with three columns: c1 , c2 , c3 .                                                                                 
->DROP: This command is used to delete an existing database object, such as a table. For example, DROP TABLE students; will delete the table named students and all its data .                                                                                                                           
->ALTER: This command is used to modify the structure of an existing database object, such as adding or deleting a column in a table. For example, ALTER TABLE students ADD c4 VARCHAR(50); will add a new column named c4 to the table students .                                                                                                                                                                                                             
->TRUNCATE: This command is used to remove all the data from an existing table, but not the table itself. For example, TRUNCATE TABLE students; will delete all the rows from the table students, but the table structure will remain intact .

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

A3. DML stands for Data Manipulation Language, which is a subset of SQL statements that are used to view and modify data in a database. The main DML commands are:                                                                                                                                         
                                                                                                                                                    
->INSERT: Used to insert new data records or rows into a table. For example, INSERT INTO students (name, age, grade) VALUES ('Alice', 12, 'A'); inserts a new record into the students table with the given values.                                                                                   
->UPDATE: Used to set the value of a field or column in an existing record or row. For example, UPDATE students SET grade = 'B' WHERE name = 'Alice'; updates the grade of Alice to B in the students table.                                                                                                 
->DELETE: Used to remove one or more rows from a table. For example, DELETE FROM students WHERE grade = 'F'; deletes all the records from the students table where the grade is F.

Q4. What is DQL? Explain SELECT with an example.

A4. DQL stands for Data Query Language, which is a subset of SQL statements that are used to retrieve data from a database. The main DQL command is:

SELECT: Used to query or fetch selected fields or columns from one or more tables in the database. For example, SELECT name, age FROM students; retrieves the name and age of all the records in the students table.

Q5. Explain Primary Key and Foreign Key.

A5. Primary Key and Foreign Key are two types of constraints that are used to enforce data integrity and create relationships between tables in a relational database. The main differences between them are:                                                                                           

Primary Key: A primary key is a column or a combination of columns that uniquely identifies each record or row in a table. A primary key ensures that there are no duplicate values in the column or columns and that every record has a value in the column or columns. A table can have only one primary key, which is usually defined at the time of creating the table. For example, CREATE TABLE students (id INT PRIMARY KEY, name VARCHAR(50), age INT); creates a table called students with a primary key on the id column.                                                                                   
Foreign Key: A foreign key is a column or a combination of columns that refers to the primary key of another table. A foreign key creates a link between two tables and ensures that the values in the referencing column or columns match the values in the referenced column or columns. A table can have multiple foreign keys, which are usually defined after creating the table using the ALTER TABLE statement. For example, ALTER TABLE orders ADD FOREIGN KEY (customer_id) REFERENCES customers (id); adds a foreign key on the customer_id column of the orders table that references the id column of the customers table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
a=mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password"
)
cursor=a.cursor()
cursor.execute("insert query which you want to perform ")
a.close()

cursor() : A method of the connection object that creates and returns a cursor object. A cursor object is used to execute SQL queries or commands in the context of the database session wrapped by the connection.

execute() : A method of the cursor object that executes a given database operation (query or command) using the cursor object.

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses is as follows:

1-> FROM

2-> ON

3-> WHERE

4-> HAVING

5-> GROUP BY

6->SELECT

7-> ORDER BY

8-> TOP